
<% if user_signed_in? %>
<h1>Friends</h1>

<div id="friends">
<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Twitter</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
  <% @friends.each do |friend| %>
    <tr> 
        <% if friend.user == current_user%>
         <td><%= link_to friend.first_name + " " + friend.last_name,  friend %></td>
         <td><%= friend.email %></td>
         <td><%= friend.phone %></td>
         <td><%= friend.twitter %></td>
         <td><%= button_to "Delete", friend_path(friend), class: "btn btn-outline-danger btn-sm" ,method: :delete, data: {confirm: "Are you sure"} %></td>
        <% end %>
     </tr>
  <% end %>
  </tbody>
  </table>
  <br/>
  <% if user_signed_in? %>
  <%= link_to "New friend", new_friend_path, class:"btn btn-secondary" %>
  <% end %>

  
</div>

<% else %>

<h1>please login to access you friends lists</h1>

<% end%>